node_modules/
dist/
out/
dist-renderer/

# Environment & secrets

# OS files
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
.idea/
.vscode/


config.json
config.bat
temp_auto_push.bat
temp_interactive_push.bat
